@use "sass:map";
@import "../../../../style/pages/theme.scss";

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 10px;

    a {
        display: flex;
        align-items: center;
        column-gap: 2px;
        text-decoration: none;
        color: inherit;
    }

}

.header-top{
    background: linear-gradient(to right, #006600, #37a75c);
    padding: 5px 0;

    .header-top__text {
        font-size: 18px;
        color: #ffffff;
    }

    .header-top__right {
        display: flex;
        justify-content: flex-end;

        li {
            font-size: 18px;
            color: #ffffff;
        }

        .notification_item {
            position: relative;

            &:hover {

                .notification_dropdown {
                    display: block;
                }
            }
        }

        .notification_dropdown {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
            border: 1px solid #ccc;
            width: 450px;
            overflow-y: auto;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            z-index: 1000;
            
            li {
                color: #333
            }

            .notification_text {
                padding: 10px;
                display: flex;
                justify-content: center;
                color: #888;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 10px;

                    &:hover {
                        background-color: #ffffff;
                        cursor: pointer;
                    }
                }

                .unread {
                    background-color: #e9ffe6;
                }

                .read {
                    background-color: #ffffff;
                }

            }

            .view_all {
                color: #333;

                a {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    text-decoration: none;
                    font-weight: bold;
                    padding: 10px 0px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.header-main {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #006600, #37a75c);

    .logo {
        width: 200px;
        height: auto;
        object-fit: cover;
    }

    .header-main__menu {
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;

        ul {
            display: flex;
            column-gap: 25px;

            li {
                font-size: 22px;
                color: #ffffff;
            }

            .active {
                color: map.get($theme-color, "main1");
            }
        }
    }

    .header-main__actions {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;

        .header-main__search {
            form {
                width: 100%;
                display: flex;
                align-items: center;
                position: relative;

                input {
                    width: 100%;
                    padding: 10px 15px;
                    border-radius: 5px;
                    font-size: 18px;
                    outline: none;
                    border: none;
                }


            }

            svg {
                width: 30px;
                height: 30px;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: map.get($theme-color, "main");
                cursor: pointer;
                font-size: 20px;
                transition: color 0.3s;
            }

        }

        .header-main__cart {
            position: relative;

            a {
                display: flex;
                align-items: center;
                column-gap: 5px;
                text-decoration: none;
                color: inherit;

                svg {
                    width: 30px;
                    height: 30px;
                    color: #f5f5f5;
                }

                .header-main__cart-count {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background-color: map.get($theme-color, "main1");
                    color: white;
                    border-radius: 50%;
                    padding: 2px 5px;
                    font-size: 15px;
                }
            }
        }
    }
}


